page-configuration {
    .confi-title{
        font-family: KGRedHands;
        font-size: 1.2em;
    }
    .confi-bg{
        background-image: url("../assets/img/imagen5.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
