<!--
  Generated template for the EstadisticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title class="esta-title">Estadisticas</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="esta-bg">
      <h1 class="esta-title2" text-center>{{estadi1.nombre}}</h1>
      <!-- <ion-list>
          <ion-item *ngFor="let e of estadi">
            <h2> letra: {{e.letra}}</h2>
            <p>Fecha: {{e.fecha}}</p>
            <p>nivel: {{e.nivel}}</p>
          </ion-item>    
        </ion-list> -->
        
    <ion-row >
      <ion-col col-4 class="esta-col1" text-center>
        Fecha
      </ion-col>
      <ion-col col-4 class="esta-col1" text-center>
        Letra
      </ion-col>
      <ion-col col-4 class="esta-col1" text-center>
        Nievel
      </ion-col>
  
    </ion-row>
    <ion-row  *ngFor="let e of estadi">
      
      <ion-col col-4 class="esta-col2" text-center>
        {{e.fecha}}
      </ion-col>
      <ion-col col-4 class="esta-col2" text-center>
        {{e.letra}}
      </ion-col>
      <ion-col col-4 class="esta-col2" text-center>
        {{e.nivel}}
      </ion-col>
      
    </ion-row>

  </ion-content>