page-login {
    .login-title{
        font-family: KGHAPPY;
        color: #4a3da7;
        font-size: 2.6em;  
          }

    .login-main{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .login-label{
        font-family: KGRedHands;
        font-size: 1.2em;
       
    }

    .login-form{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        
    }
    .login-bg{
        background-image: url("../assets/img/fondo1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .login-but {
        font-family: KGRedHands;
        font-size: 1.2em; 
    }
}
